body {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #7ADBE6;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  column-gap: 5px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px gray;
  background-color: #BD99B5;
  color: #4D1414;
  box-shadow: 2px 5px 16px #000;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  align-items: flex-start;
}

h2 {
  text-align: center;
}

.header {
  margin-bottom: 15px;
  padding: 25px 0;
  background-image: url(../img/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: bisque;
  border: solid 0.5px black;
}

.tme {
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #0000CD;
  color: lightgray;
}
